{% extends 'base.html.twig' %}

{% block title %}
Mon compte
{% endblock %}

{% block content %}
<h1>Mon compte</h1>
Bienvenu {{app.user.firstName}} - Vous pourrez gérer toutes vos informations personnelles dans cet espace. <br>
{{dump(app.user)}}
<br>

<a href="{{path('app_account_password')}}">Modifier mon mot de passe</a>

<br>
- Ajouter mes adresses
<br>
- Mes commandes
<br>
{% endblock %}