<footer>
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2024 Ma Boutique, Inc.</p>
    <p class="text-center">&middot; <a href="#">Mentions légales</a> &middot; <a href="#">Politique de
            confidentialité</a> &middot; <a href="#">Politique d'accessibilité</a></p>
</footer>